<div data-hook="admin_relation_type_form_fields" class="row">
  <div class="six columns">
    <div data-hook="name" class="field">
      <%= f.field_container :name do %>
        <%= f.label :name, Spree.t("name") %> <span class="required">*</span><br />
        <%= f.text_field :name, class: 'fullwidth title' %>
        <%= error_message_on :relation_type, :name %>
      <% end %>
    </div>
  </div>
  <div class="four columns">
    <div data-hook="applies_to" class="field">
      <%= f.field_container :applies_to do %>
        <%= f.label :applies_to, Spree.t("applies_to") %> <span class="required">*</span><br />
        <%= f.text_field :applies_to, value: f.object.nil? ? "Spree::Product" : f.object.applies_to, class: 'fullwidth title' %>
        <%= error_message_on :relation_type, :applies_to %>
  <% end %>
    </div>
  </div>
  <div class="ten columns">
    <div data-hook="description" class="field">
      <%= f.field_container :description do %>
        <%= f.label :description, Spree.t("description") %><br />
        <%= f.text_area :description, {cols: 60, rows: 2, class: 'fullwidth'} %>
        <%= error_message_on :relation_type, :description %>
      <% end %>
    </div>
  </div>
</div>
