<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_relation_type) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_relation_types_list), spree.admin_relation_types_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render "spree/shared/error_messages", :target => @relation_type %>

<%= form_for [:admin, @relation_type] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
