<%= render 'spree/admin/shared/configuration_menu' %>

<div data-hook="admin_relation_type_new_form_header">
  <h1><%= Spree.t(:new_relation_type) %></h1>

  <%= render 'spree/shared/error_messages', target: @relation_type %>
</div>

<div data-hook="admin_relation_type_new_form" >
  <%= form_for(:relation_type, url: collection_url) do |f| %>
    <%= render 'form' f: f %>

    <div data-hook="admin_relation_type_new_form_buttons">
      <%= render 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>
