<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:new_relation_type) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_relation_types_list), admin_relation_types_path, :class => 'button' %></li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @relation_types } %>

<%= form_for [:admin, @relation_type] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
