<table class="index sortable" data-hook="products_table"  data-sortable-link="<%= update_positions_admin_product_relations_url(@product) %>">
   <colgroup>
    <col style="width: 10%" />
    <col style="width: 25%" />
    <col style="width: 35%" />
    <col style="width: 20%" />
    <col style="width: 10%" />
  </colgroup>
  <thead>
    <tr data-hook="products_header">
      <th colspan="2"><%= Spree.t('name') %></th>
      <th><%= Spree.t('discount_amount') %></th>
      <th><%= Spree.t('type') %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% product.relations.each do |relation| %>
      <tr id="<%= spree_dom_id relation %>" data-hook="products_row">
        <td class="no-border">
          <span class="handle"></span>
        </td>
        <td><%= link_to relation.related_to.name, relation.related_to %></td>
        <td class="align-center"><%= form_for(relation, url:admin_product_relation_path(relation.relatable, relation)) do |f| %>
           <%= f.text_field :discount_amount, style: "text-align:center;width:100px;" %> &nbsp; <%= f.submit Spree.t(:update) %> <% end %></td>
        <td class="align-center"><%= relation.relation_type.name %></td>
        <td class="actions">
          <%= link_to_delete relation, {url: admin_product_relation_url(relation.relatable, relation), no_text: true} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
