<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('discount_amount') %></th>
      <th><%= t('type') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% product.relations.each do |relation| %>
      <tr id="<%= dom_id relation %>">
        <td><%= link_to relation.related_to.name, relation.related_to %></td>
        <td><%= relation.discount_amount != 0 ? number_to_percentage(relation.discount_amount, :precision => 0) : "none" %></td>
        <td><%= relation.relation_type.name %></td>
        <td width="70px">
          <%= link_to_delete relation, {:url => admin_product_relation_url(relation.relatable, relation)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
