<%= render :partial => 'admin/shared/product_sub_menu' %>

<%= render :partial => 'admin/shared/product_tabs', :locals => {:current => "Related Products"} %>


<%= csrf_meta_tag %>

<% if @relation_types.empty? %>
  <%= t("no_relation_types") %>
<% else %>
  <div id="add-line-item">
    <fieldset>
      <legend><%= t('add_related_product') %></legend>
      <div style="float:left;width:55%;margin-right:5%;">
        <%= label_tag :add_product_name, t("name_or_sku") %>
        <%= text_field_tag :add_product_name,  {}, :class => 'fullwidth title'  %>
        <%= hidden_field_tag :add_variant_id %>
      </div>
      <!-- Needs to be updated once Automatic Coupons extension is migrated to 0.30.x -->
      <% if false #Spree::Extension.descendants.map(&:to_s).include? "AutomaticCouponsExtension" %>
        <div style="float:left;width:10%;margin-right:5%;">
          <%= label_tag :add_discount, t("discount_amount") %>
          <%= text_field_tag :add_discount, 0.0, :style => 'margin: 0pt; padding: 4px; font-size: 1.5em; width: 98%;'  %>
        </div>
      <% end %>
      <div style="float:left;width:20%;margin-right:5%;">
        <%= label_tag :add_type, t("type") %>
        <%= select_tag :add_type, options_for_select(@relation_types.map{|rt| [rt.name, rt.id]}), :style => 'margin: 0pt; padding: 4px; font-size: 1.5em; width: 98%;' %>
      </div>
      <div style="float: left; width: 15%; padding-top: 17px;">
        <%= link_to text_for_button_link(t("add"), :icon => 'add'),
            admin_product_relations_url(@product),
            {:id => "add_related_product", :class => 'button', 'data-update' => 'products-table-wrapper'} %>

      </div>

    </fieldset>
  </div>

  <div id="products-table-wrapper">
    <%= render :partial => "related_products_table", :locals => {:product => @product} %>
  </div>

  <% content_for :head do %>
    <%= javascript_tag "var expand_variants = false;" %>
    <%= javascript_include_tag 'admin/orders/edit.js' %>
    <%= stylesheet_link_tag 'admin/edit_orders.css' %>

    <script type="text/javascript">
      $("#add_related_product").live("click", function(){
        if($('#add_variant_id').val() == ''){ return false; }
        update_target = jQuery(this).attr("data-update");

        jQuery.ajax({ dataType: 'script', url: this.href, type: "POST",
            data: {"relation[related_to_type]" : "Product",
                   "relation[related_to_id]": $('#add_variant_id').val(),
                   "relation[relation_type_id]": $('#add_type').val(),
                   "relation[discount_amount]" : $('#add_discount').val()},
            success: function(data){
              $("#"+update_target).html(data);
              $('#add_product_name').val('');
              $('#add_variant_id').val('');
              $('#add_quantity').val(1) }
        });
        return false;
      });
    </script>
  <% end %>

<% end %>
